
thead{
    background-color: #FFA07A	;
}

table, th, td {
    border: 3px solid #FF7F50;
    border-collapse: collapse;
    padding:6px;
}

 img {
	--angle: 0deg;
	border: 2vmin solid;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	animation: 2s rotate linear infinite;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
